<h2>Comments:</h2>
<% movie.comments.includes(:user).each do |comment| %>
  <div class="comment">
    <p><%= comment.body %></p>
    <small>Posted by <%= comment.user.email %> | <%= time_ago_in_words(comment.created_at) %> ago</small>
  </div>
<% end %>

<%= form_with(model: [movie, movie.comments.build], local: true) do |form| %>
  <%= form.hidden_field :movie_id, value: movie.id %>
  <%= form.text_area :body %>
  <%= form.submit "Add Comment" %>
<% end %>