<h1 class="profile-header"><%= current_user.full_name %></h1>

<% if current_user.avatar.attached? %>
    <%= image_tag(current_user.avatar, class: 'profile-image') %>
<% end %>

<article class="profile-form">
    <%= form_for(current_user, url: profile_path(current_user), method: :put) do |f| %>
        <div>
           <%= f.label :first_name %><br> 
           <%= f.text_field :first_name %> 
        </div>
        <div>
           <%= f.label :last_name %><br> 
           <%= f.text_field :last_name %> 
        </div>
         <div>
           <%= f.label :avatar %><br>
           <%= f.file_field :avatar %>  
        </div>
        <%= f.submit %>
    <% end %>
</article>
