<h1>Show movie</h1>
<h2 >Title: <%= @movie.title %></h2>
<h3>Description: <%= @movie.description %></h3>
<p>Duration: <%= @movie.duration %></p>
<p>Director: <%= @movie.director %></p>
<p>Year of Creation: <%= @movie.year_of_creation %></p>
<p>Genre: <%= @movie.genres %></p>
<p><%= link_to 'Edit', edit_movie_path(@movie) %></p>

<div> 
   <p> <%= @omdb_movie["Title"]%> </P>
   <p> <%= @omdb_movie["Year"]%> </P>
   <p> <%= @omdb_movie["Released"]%> </P>
   <p> <%= @omdb_movie["Runtime"]%> </P>
   <p> <%= @omdb_movie["Genre"]%> </P>
   <p> <%= @omdb_movie["Director"]%> </P>
   <p> <%= @omdb_movie[" Writer"]%> </P>
   <p> <%= @omdb_movie["Actors"]%> </P>
   <p> <%= @omdb_movie["Plot"]%> </P>
   <p> <%= @omdb_movie["Language"]%> </P>
   <p> <%= @omdb_movie["Country"]%> </P>
   <p> <%= @omdb_movie["Awards"]%> </P>
   <p> <%= @omdb_movie["Poster"]%> </P>
</div>

<%= render 'movies/shared/comment', movie: @movie %>
